{erl_opts, [debug_info]}.

{deps, []}.

{pre_hooks,
  [{compile, "cmake -B_build/c_src -Hc_src"},
   {compile, "cmake --build _build/c_src -- install"}]}.

{post_hooks,
  [{clean, "cmake --build _build/c_src -- clean"}]}.

{cover_export_enabled, true}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{covertool, [{coverdata_files,
              [
               "ct.coverdata"
              ]}]
}.

{project_plugins,
 [
  covertool
 ]}.
