{erl_opts, [debug_info]}.

{deps, []}.

{pre_hooks,
  [{compile, "cmake -B_build/c_src --build c_src"},
  {"(linux|darwin|solaris)", compile, "make -C _build/c_src install"},
   {"(freebsd)", compile, "gmake -C _build/c_src install"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C _build/c_src clean"},
   {"(freebsd)", clean, "gmake _build/c_src clean"}]}.

{cover_export_enabled, true}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{covertool, [{coverdata_files,
              [
               "ct.coverdata"
              ]}]
}.

{project_plugins,
 [
  covertool
 ]}.
